!/*/
!/scripts/*
!.editorconfig
!str0*
!build.sh
!start.sh
!.*
!.gitignore
!.ci-fastdl
!.gitlab-ci.yml
!tf
!script
tf/*
!tf/addons
!tf/custom
tf/addons/sourcemod/configs/items.cfg
tf/addons/*/scripting/**/*.smx
tf/addons/*/plugins/*.smx

!*.res

tf/addons/*/logs
!tf/addons/*/logs/chat/.gitkeep
!tf/addons/*/logs/stac/.gitkeep
!tf/addons/*/logs/.gitkeep

tf/cfg/*
!tf/cfg/quickplay
!tf/cfg/items.cfg
!tf/cfg/sourcemod
!tf/cfg/cp_powerhouse.cfg
!tf/cfg/pure_server_whitelist.txt
!tf/cfg/sd_doomsday_event.cfg
!tf/cfg/ctf_*.cfg
!tf/cfg/quickplay/_id.cfg

# fix sv pure
!tf/cfg/pure_server_*
!tf/cfg/trusted_keys_base.txt

tf/addons/*/data/sqlite/clientprefs-sqlite.sq3
tf/addons/*/data/_*.data
tf/addons/*/configs/sourcebans/sb_admins.cfg
tf/addons/*/configs/sourcebans/sb_admin_groups.cfg
tf/addons/*/configs/ctferrorlogger.cfg
tf/addons/*/configs/item_schema.cfg
tf/addons/*/backup/*
!tf/addons/sourcemod/scripting/fixes/*
!tf/addons/sourcemod/scripting/fixes/


!tf/maps
!tf/maps/*
tf/maps/graphs

// All maps, that are downloaded on testing servers have _t postfix.
#tf/maps/*_t.bsp

!tf/materials
!tf/models
!tf/sound

!tf/scripts
tf/scripts/items/*
tf/scripts/protodefs/*
!tf/scripts/items/mvm_*.txt
!tf/scripts/population

!tf/cfg
tf/cfg/*
!tf/cfg/quickplay
!tf/cfg/items.cfg
!tf/cfg/sourcemod
!tf/cfg/cp_powerhouse.cfg
!tf/cfg/pure_server_whitelist.txt
!tf/cfg/sd_doomsday_event.cfg
!tf/cfg/ctf_*.cfg

# private
#tf/addons/sourcemod/configs/databases.cfg
#tf/addons/sourcemod/configs/discord.cfg
#tf/cfg/quickplay/private.cfg
